<!doctype html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">

  <head>
    {{ partial "head.html" . }}
  </head>

  <body>
<p>==========.  default baseof 000zzz=========</p>
    {{ partial "nav.html" . }} 
      {{ block "header" . }}
<p>==========.  default baseof 000=========</p>
      {{ partial "header.html" .}}
<p>==========.  default baseof 001=========</p>
    {{ end }} 

<p>==========.  default baseof 002=========</p>

{{ block "main" . }}{{ end }} {{ partial "footer.html" . }} {{ block "footer" . }}{{ end }}
  </body>

</html>